
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  background: url("../images/bg.png") center repeat;
}

.banner {
  height: calc(100vh - 80px) !important;
}

.home-banner video {
  width: 100%;
  height: auto;
  display: block;
  max-height: 100%;
  object-fit: fill;
  object-position: center;
  z-index: 10;
}

.banner.home-banner .banner-text {
  width: auto;
  height: auto;
  right: auto;
  left: 41px;
  bottom: 20%;
  max-width: 300px;
}
